*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: coral;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
}

#score-sheet{
    display: grid;
    grid-auto-flow: row;
    height: 500px;
    align-content: stretch;
    justify-content: stretch;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: #fff;
}

#score-sheet>div>input{
    width: 100%;
    text-align: center;
    border: 0;
    border-left: 1px solid black;
}

#score-sheet>div{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#score-sheet>div>p{
    margin: auto 0 auto 0;
    grid-column: 1 / span 2;
}

button{
    color: white;
    background: none;
	padding: 0;
	cursor: pointer;
    outline: inherit;
    border: 0;
    border-left: 1px solid black;
}

#score-sheet>div>button:hover{
    color: gray;
}

#top{
    font-weight: bold;
    border-bottom: 1px solid black;
}

.bonus, .sum, .inter-sum{
    font-weight: bold;
    color: black;
    border-top: 1px solid black;
    margin-top: 0 !important;
}


.locked {
    color: black !important;
}

#play-area-container{
    background-color: coral;
    display: flex;
    justify-content: center;
}

#play-area{
    margin-top: 200px;
    background-color: green;
}

#start-selection{
    display: grid;
    align-content: center;
    margin-top: 50px;
}

#dice{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 600px;
    margin-top: 50px;
}

.die{
    height: 75px;
    width: 75px;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 3px 4px 5px rgb(34, 34, 34);
}

.dot {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:black;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face, .third-face, .fourth-face, .fifth-face, .sixth-face{
    display: flex;
    justify-content : space-between;
}
    
.second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}

.third-face .dot:nth-of-type(3) {
    align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
    align-self: center;
}

.fourth-face .column, .fifth-face .column, .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

#controls{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 50px 0 50px;
}

#controls>button, #start-selection>button{
    margin: auto;
    width: 100px;
    color: black;
    border: 1px solid black;
    background-color: #fff;
}

#controls>button:disabled{
    background-color: gray;
}
